body {
  background-color: gray;
}

.nav-profile {
  list-style: none;
}

.nav-tools {
  list-style: none;
}

.nav-contact {
  list-style: none;
}

.nav-project {
  list-style: none;
}

.nav-profile a {
  text-decoration: none;
}

.nav-tools a {
  text-decoration: none;
}

.nav-contact a {
  text-decoration: none;
}

.nav-project a {
  text-decoration: none;
}

.main-title {
  color: white;
}

.profile {
  color: white;
}

.tools {
  color: white;
}

.contact {
  color: white;
}

.copyright {
  color: white;
  background-color: black;
  padding: 20px;
  text-align: center;
}
