body {
  background-color: #333652;
  font-family: "Poppins";
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.nama {
  font-weight: bold;
  color: #fad02c;
}

.text-contact {
  font-weight: bold;
  color: #fad02c;
}

.menu {
  display: flex;
  margin-right: 60px;
  color: white;
  justify-content: space-between;
}

.logo {
  margin-right: 200px;
}

.copyright {
  background-color: black;
  padding: 20px;
  text-align: center;
}
